

/*
    Global styles
 */
body {
    background: url("../images/site_bg.png") repeat;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
a {
    color: #333333;
    text-decoration: underline;
}
a:hover {
    color: #EAB24D;
}


/*
    Header
 */
header.header-main {
    background: #FFFFFF;
    top: 25px;
    min-height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
header.header-main.mm-fixed-top {
    transition-property: right, bottom, left, border;
}
    header.header-main h1.logo {
        position: absolute;
        margin: 0;
        top: -25px;
        z-index: 1;
    }
        header.header-main h1.logo .scrollable-logo {
            display: none;
            height: 60px;
        }
        header.header-main h1.logo.scrolling {
            top: 0;
        }
        header.header-main h1.logo.scrolling .standard-logo {
            display: none;
        }
        header.header-main h1.logo.scrolling .scrollable-logo {
            display: block;
        }
    header.header-main ul.sub-menu {
        display: table;
        width: 15%;
        float: right;
        margin: 0 0 0 2%;
        padding-left: 2%;
        width: 13%;
        border-left: 1px solid #333333;
        margin-top: 10px;
    }
        header.header-main ul.sub-menu li {
            display: table-cell;
            text-align: center;
        }
            header.header-main ul.sub-menu li a {
                line-height: 40px;
                display: block;
                text-decoration: none;
                font-size: 16px;
            }
            header.header-main ul.sub-menu li a.mmenu-toggler {
                display: none;
            }
            header.header-main ul.sub-menu li a.search-button i {
                font-size: 20px;
            }
            header.header-main ul.sub-menu li a.search-button span {
                text-indent: -9999px;
                display: inline-block;
            }


/*
    Main nav
 */
nav.main-menu ul {
    float: left;
    margin: 0;
    display: table;
    width: 85%;
    padding-left: 150px;
}
    nav.main-menu ul li {
        display: table-cell;
        text-align: center;
    }
        nav.main-menu ul li a {
            display: block;
            font-size: 20px;
            text-decoration: none;
            line-height: 60px;
        }
        nav.main-menu ul li a:hover,
        nav.main-menu ul li.active a {
            color: #EAB24D;
        }


/*
    Frontpage
 */
.slideshow .caption {
    text-align: left;
    background: rgba( 86, 90, 91, 0.8 );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}
    .slideshow .caption b {
        font-size: 20px;
        margin-top: 15px;
        padding-bottom: 5px;
        display: block;
        font-weight: 400;
    }
    .slideshow .caption p {
        margin-bottom: 10px;
        font-style: italic;
    }
    .slideshow .caption a {
        color: #fff;
        text-decoration: none;
    }
    .slideshow .caption a:hover {
        color: #eab24d;
    }
    .slideshow .owl-item > div {
        text-align: center;
    }
    .slideshow .owl-controls {
        bottom: 15px;
        position: absolute;
        left: 80%;
    }
        .slideshow .owl-controls > div {
            float: left;
        }
        .slideshow .owl-controls .owl-page span {
            background: #fff;
            opacity: 1;
            margin: 5px 5px;
        }
        .slideshow .owl-controls .owl-page.active span,
        .slideshow .owl-controls .owl-page:hover span {
            background: #EAB24D;
        }
        .slideshow .control-buttons {
            height: 25px;
            line-height: 20px;
            margin-left: 15px;
        }
            .slideshow .control-buttons a {
                color: #fff;
                font-size: 14px;
            }
                .slideshow .control-buttons a span {
                    text-indent: -9999px;
                    display: inline-block;
                }
                .slideshow .playbutton {
                    display: none;
                }
.frontpage-featured {
    background: #fff;
    border-bottom: 1px solid #CCCCCC;
    padding: 40px 0;
    text-align: center;
}
    .frontpage-featured h1 {
        font-size: 30px;
        color: #666666;
        font-style: italic;
        font-weight: 300;
        padding: 0 75px;
    }
    .frontpage-featured a.contact-button {
        margin-top: 30px;
        background: #EAB24D;
        display: inline-block;
        line-height: 60px;
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        padding: 0 40px 0 30px;
    }
    .frontpage-featured a.contact-button i {
        margin-right: 30px;
    }


/*
    Main content
 */
.main-content {
    margin-top: 70px;
    margin-bottom: 100px;
}
.breadcrumb-row + .main-content {
    margin-top: 50px;
}
.main-content h1 {
    font-size: 35px;
    margin-bottom: 10px;
}
.main-content .intro p {
    font-weight: 600;
}
.full-image {
    text-align: center;
}


/*
    Page: embed
 */
.page.embed .page-wrapper {
    background: #fff;
    float: left;
    height: 100%;
}
.page.embed img {
    width: 100%;
}
.page.embed h1 {
    font-size: 25px;
    padding: 0 25px;
    margin-top: 15px;
}
.page.embed p {
    padding: 0 25px;
}
.page.embed a {
    text-decoration: none;
    display: block;
}


/*
    Side menu
 */
.side-menu {}
    .side-menu > div {
        margin: 0 0 0 25px;
        background: #fff;
        padding: 25px 30px;
    }
        .side-menu ul {
            margin: 0;
        }
        .side-menu ul li {
            list-style: none;
        }
            .side-menu ul li i {
                margin-right: 5px;
            }
            .side-menu ul li a {
                text-decoration: none;
            }


/*
    Contact: full
 */
.contact.full form .columns:last-child {
    float: left;
}
.contact.full form input,
.contact.full form textarea {
    box-shadow: none;
    border-radius: 2px;
}
.contact.full form label {
    font-size: 16px;
    color: #666666;
    font-weight: 300;
}
.contact.full form .checkbox-label {
    float: left;
    margin-right: 15px;
}
.contact.full form input[type="checkbox"] {
    margin: 5px 0 0;
}
.contact.full form button {
    font-family: 'Lato';
    font-size: 24px;
    text-align: center;
    color: #666666;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 25px;
    line-height: 40px;
    height: none;
    border-radius: 2px;
    font-weight: 300;
    margin: 25px 0 0;
}
.contact.full .side-menu p {
    margin: 0;
}
.contact.full .side-menu i {
    margin-right: 10px;
}


/*
    Breadcrumb
 */
.breadcrumb-row {
    margin-top: 25px;
}
.breadcrumb {
    margin: 0;
    padding-left: 15px;
}
    .breadcrumb li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
    }
    .breadcrumb li i {
        margin-right: 15px;
    }
    .breadcrumb li.active {
        font-weight: 300;
    }
        .breadcrumb li a {
            text-decoration: none;
        }


/*
    Search field
 */
.search-field {
    background: none repeat scroll 0 0 #fff;
    bottom: -60px;
    padding: 10px 15px;
    position: absolute;
    right: 50px;
}
.search-field form {
    margin: 0;
    text-align: left;
}
.search-field input {
    width: 65%;
    float: left;
    margin: 0;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 300;
    box-shadow: none;
    border-radius: 2px;
    padding: 0 10px;
    margin: 0;
}
.search-field button {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    color: #666666;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    line-height: 35px;
    height: 35px;
    border-radius: 2px;
    font-weight: 300;
    margin: 0;
    width: 30%;
    float: right;
}


/*
    Main footer
 */
figure.google-maps {
    border-top: 1px solid #CCCCCC;
    margin: 0;
}
footer.footer-main {
    background: #565A5B;
    padding: 70px 0;
    color: #fff;
    text-align: center;
}
    footer.footer-main p {
        margin: 0;
        font-size: 20px;
        font-weight: 300;
    }
        footer.footer-main p i {
            margin-right: 10px;
        }
        footer.footer-main p a {
            color: #fff;
        }


/*
    Google Maps
 */
.google-maps {
    position: relative;
}
    .google-maps #map-canvas {
        height: 400px;
        cursor: pointer;
    }


/*
    Responsive styling for tablet and down
 */
@media only screen and (max-width: 64em) {
    header.header-main h1.logo {
        left: 15px;
    }
    header.header-main h1.logo img.standard-logo {
        width: 115px;
    }
    header.header-main ul.sub-menu {
        width: 300px;
        padding: 0;
        border: 0 none;
        display: block;
    }
        header.header-main ul.sub-menu li {
            display: inline-block;
            padding: 0 15px;
        }
            header.header-main ul.sub-menu li a.search-button span {
                text-indent: 0;
                margin-left: 10px;
            }
            header.header-main ul.sub-menu li a.mmenu-toggler {
                display: block;
                background: url("../images/menu_icon.png") no-repeat left center;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                padding-left: 35px;
            }
    .slideshow .caption {
        position: relative;
    }
    .google-maps #map-canvas {
        height: 300px;
    }
}


/*
    Responsive styling for mobile
 */
@media only screen and (max-width: 40em) {
    .slideshow .caption {
        padding-bottom: 40px;
    }
    .owl-theme .owl-controls {
        right: 15px;
        left: auto;
    }
    header.header-main h1.logo {
        top: -15px;
    }
    header.header-main h1.logo img.standard-logo {
        width: 90px;
    }
    header.header-main ul.sub-menu {
        text-align: right;
    }
    header.header-main ul.sub-menu li a.search-button span,
    header.header-main ul.sub-menu li a.mmenu-toggler span {
        text-indent: -9999px;
        display: inline-block;
        margin: 0;
    }
    .frontpage-featured h1 {
        font-size: 24px;
        padding: 0 15px;
    }
    .frontpage-featured a.contact-button {
        font-size: 24px;
    }
    .frontpage.full .page.embed {
        margin-bottom: 25px;
    }
    footer.footer-main div.columns {
        margin-bottom: 25px;
    }
    .side-menu > div {
        margin: 10px 0 15px 0;
        padding: 15px 30px;
    }
    .google-maps #map-canvas {
        height: 250px;
    }
}


/*
    IE fixes
 */
.lt-ie10 .slideshow .caption {
    position: relative;
}






