@font-face {
    font-family: "Lato";
    src: url('356781006-Lato-Regular.eot');
    src: url('356781006-Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('356781006-Lato-Regular.svg#Lato') format('svg'),
    url('356781006-Lato-Regular.woff') format('woff'),
    url('356781006-Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url('865966797-Lato-Light.eot');
    src: url('865966797-Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('865966797-Lato-Light.svg#Lato') format('svg'),
    url('865966797-Lato-Light.woff') format('woff'),
    url('865966797-Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url('287994385-Lato-Italic.eot');
    src: url('287994385-Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('287994385-Lato-Italic.svg#Lato') format('svg'),
    url('287994385-Lato-Italic.woff') format('woff'),
    url('287994385-Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url('144500733-Lato-Bold.eot');
    src: url('144500733-Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('144500733-Lato-Bold.svg#Lato') format('svg'),
    url('144500733-Lato-Bold.woff') format('woff'),
    url('144500733-Lato-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
